@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap'); /*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600&display=swap'); /* font-family: 'Open Sans', sans-serif;*/

* {
    padding: 0;
    margin: 0;
    /*box-sizing: border-box;*/
}

body {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(45deg, #008080, #89f2fa);
    font-family: 'Open Sans', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}


h2:first-child {
    color: white;

}

h2, h3 {
    margin-top: -5px;
    text-align: center;
}

#dark-screen {
    width: 100vw;
    height: 100vh;
    opacity: 0.95;
    color: white;
    display: none;
    padding-top: 35%;
    position: fixed;
    background-color: black;
}

#dark-screen h2 {
    margin-bottom: 20px;
}

.container {
    max-width: 280px;
    max-height: 420px;
    /*position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;*/
    padding: 20px;
    border-radius: 10px;
    background-color: teal;
    /*border: 3px solid darkslategray;*/
    text-align: center;
}

#logo {
    background-image: url('/assets/logo.svg');
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    height: auto;
}

.grid {
    margin-top: 5px;
    margin-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;

}

.celula {
    width: 75px;
    height: 75px;
    font-size: 40pt;
    margin: 4px 2px;
    font-weight: 800;
    padding: 5px;
    border-radius: 3px;
    align-items: center;
    background-color: cadetblue;
    text-align: center;
    color: white;
}

.button {
    padding: 10px 106px;
    margin-left: auto;
    margin-right: auto;
    background-color: cadetblue;
    border-radius: 3px;
    font-weight: 500;
    color: white;
    text-decoration: none;
    outline: none;

}

.button:hover {
    background-color: rgb(126, 188, 190);
}

#game-mode {
    background: cadetblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    margin: 2px 0 20px 0;
    padding: 10px 108px;
    border: none;
    outline: none;
}

@media (max-width: 860px) {
    #dark-screen {
        width: 100vw;
        height: 100vh;
        opacity: 0.95;
        color: white;
        display: none;
        position: fixed;
        background-color: black;
    }

}





